# Ignorar todos os arquivos .txt
*.txt

# Ignorar todos os arquivos .csv
*.csv

# Ignorar todos os arquivos .xyz
*.xyz

# Ambientes virtuais
venv/
env/
.env
venv/*
__pycache__/
*.pyc

# Arquivos compatados
*.tar.gz